  <div class="col-md-12">
    <!-- BEGIN logo -->
    <div class="col-md-9">
     <span class="logo">
       <%= link_to 'Онлайн петиции нашего района', root_path%>
     </span>
    </div>
    <!-- END logo -->

    <!-- BEGIN user info -->
    <div class="col-md-3 user-options">
      <span>
    <% if current_user %>
          <%= current_user.email %> (<%= link_to 'Выйти', logout_path%>)
      <% else %>
          <%= link_to 'Зарегистрироваться',signup_path %> | <%= link_to 'Войти', login_path %>
      <% end %>
        </span>
     </div>
    <!-- END user info -->
  </div>
