
    <% flash.each do |name, msg| %>
        <div class="alert alert-success"><%= msg %></div>
    <% end %>


  <h1>Петиция</h1>

  <div>
  <%= form_for :petition, url: petitions_path  do |f| %>
    <h3><%= @petition.title %></h3>
      <br>
      <%= @petition.updated_at.strftime("%d/%m/%Y %I:%M") %>

      <div><%= @petition.text %></div>
      <br>
      <b>Голосов: <%= @petition.votes.count %></b>
        <br>
      <% case  %>
      <% when current_user && can_vote? %>
        <%= link_to 'Поддержать', upvote_petition_path(@petition), :method=>:post, class: "btn btn-primary btn-large" %>
        <% when current_user && !can_vote? && (current_user.id == @petition.user_id) %>
        <% when current_user && !can_vote?  %>
            Вы уже поддержали данную петицию
      <% end %>
      <br>
<% end %>

  </div>
