<div class="col-md-6">
  <div>
    <% flash.each do |name, msg| %>
        <%= msg %>
    <% end %>
  </div>

  <h1>Петиция</h1>

  <%= form_for :petition, url: petitions_path  do |f| %>
    <h3><%= @petition.title %></h3>
      <br>
      <%= @petition.updated_at.strftime("%d/%m/%Y %I:%M") %>

      <div><%= @petition.text %></div>
      <br>
      <b>Голосов: <%= @petition.votes.count %></b>

      <% if can_vote? %>
        <%= link_to 'Поддержать', upvote_petition_path(@petition), :method=>:post, class: "btn btn-primary btn-large" %>
          <% else %>
          <br>
          Вы уже поддержали данную петицию
      <% end %>
      <br>

      </div>
<% end %>

