<!DOCTYPE html>
<html>
<head>
  <title>OnlinePetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- BEGIN header -->
<div class="col-md-12 well sidebar-nav header">
  <%= render partial: "header" %>
</div>
<!-- END header -->

<!-- BEGIN main container -->
<div class="col-md-12">

  <!-- BEGIN content -->
  <div class="col-md-9">
    <%= yield %>
  </div>
<!-- END content -->

  <!-- BEGIN menu -->
  <div class="col-md-3">
    <%= render partial: "links_menu" %>
  </div>
<!-- END menu -->
</div>
<!-- END main container -->

<!-- BEGIN footer -->
<div class="col-md-12 footer">
  <%= render partial: "footer" %>
</div>
<!-- END footer -->

</body>
</html>
